*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background-color: rgb(1, 252, 135);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
}
.container .heading{
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
}